.jumbotron {
	opacity: 0.7;
}
.navigation {
	background-color: #1E90FF;
}
.header {
	text-align: center;
	font-size: 24px;
}
.goldmine {
	background-color: #F0F8FF;
}
.bibliometrics {
	background-color: LemonChiffon;
	border-top: 1px solid: #ccc;	
	border-left: 1px solid: #ccc;
	border-right: 1px solid: #ccc;
}
.blur {
	-webkit-filter: blur(20px);
}
body {
	background-image: url('../img/cach.jpg');
	background-repeat: no-repeat;
	background-color: #EDEDED;	
}
.icons {
	text-align: center;
}
