<!DOCTYPE html>
<html>
<head>
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">	
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/css/copycss.css">
	<link rel="icon" href="../static/img/AB.png">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<meta name="author" content="Alex Brashear">
	<meta name="description" content="Personal Website and Documentation of Projects">
	<meta name="keywords" content="Alex Brashear, Alex, Brashear">

	<title>
		Alex Brashear
	</title>
	<script>
		$(document).ready(function(){
			$("#poop").mouseover(function(){
				$("#poop").css("background-color","yellow");
			});
			$("poop").mouseout(function(){
				$("poop").css("background-color","white");
			});
		});
	</script>
</head>
<body>
	<!-- header -->
	<div>
		<p><img src="../static/img/title.png" class="center"></p>
		<div class="nav-container">
			<ul class="list-inline">
				<li>
					<a onmouseover="document.getElementById('img1').src='../static/img/home_dotted.png';"
					onmouseout="document.getElementById('img1').src='../static/img/home.png';">
					<img src="../static/img/home.png" class="img-responsive" alt="Responsive image" id="img1"></a>
				</li>
				<li>
					<a onmouseover="document.getElementById('img2').src='../static/img/projects_dotted.png';"
					onmouseout="document.getElementById('img2').src='../static/img/projects.png';">
					<img src="../static/img/projects.png" class="img-responsive" alt="Responsive image" id="img2"></a>
				</li>
				<li>
					<a onmouseover="document.getElementById('img3').src='../static/img/contact_dotted.png';"
					onmouseout="document.getElementById('img3').src='../static/img/contact.png';">
					<img src="../static/img/contact.png" class="img-responsive" alt="Responsive image" id="img3"></a>
				</li>
				<li>
					<a onmouseover="document.getElementById('img4').src='../static/img/resume_dotted.png';"
					onmouseout="document.getElementById('img4').src='../static/img/resume.png';">
					<img src="../static/img/resume.png" class="img-responsive" alt="Responsive image" id="img4"></a>
				</li>
			</ul>
		</div>
	</div>
	<!-- main body -->
	<div class="body1">
		<br>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6 body2">
				<div class="row">
					<div class="col-md-6">
						<img src="../static/img/me.jpeg" class="img-rounded imgsize"></div>
						<div class="col-md-6">
							<p>Hi, my name is Alex Brashear</p>
							<p>I'm a Computer Science student at the University of Pennsylvania.  I enjoy teaching and am interested in the potential of web applications to improve disadvantaged public schools. </p>
						</div>
					</div>
				</div>
				<div class="col-md-3"></div>
			</div>
			<h1>test biatch</h1>

		</div>
		<!-- footer -->
		<div class="container">
			poop
			<i class="fa fa-file-text fa-4x fa-fw"></i>
			<a href="https://www.facebook.com/alex.brashear.9"><i class="fa fa-facebook-square fa-4x fa-fw"></i></a>
			poop
		</div>
	</body>
	</html>