<!DOCTYPE html>
<html>
<head>
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">	
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="copycss.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<meta name="author" content="Alex Brashear">
	<meta name="description" content="Personal Website and Documentation of Projects">
	<title>
		Alex Brashear
	</title>
</head>
<body>
<!-- header -->
	<div>
	<p><img src="title.png" class="center"></p>
	<p></p>
	</div>
<!-- main body -->
	<div class="body1">
	<br><br><br><br>
		<div class="container body2">
			<h1>test biatch</h1>
		</div>
	<h1>test biatch</h1>

	</div>
<!-- footer -->
	<div>
		
	</div>
</body>
</html>