<!DOCTYPE html>
<html>
<head>
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">	
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,300italic,400italic' rel='stylesheet' -`type='text/css'>
	<link rel="stylesheet" type="text/css" href="../static/css/maintest.css">
	<link rel="icon" href="../static/img/AB.png">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<meta name="author" content="Alex Brashear">
	<meta name="description" content="Personal Website and Portfolio of Projects">
	<meta name="keywords" content="Alex Brashear, Alex, Brashear">
	<title>
		Alex Brashear
	</title>
</head>
<body>
	<!-- header wrap -->
	<div class="bgimage" id="top">
		<br><br><br>
		<div class="container">
		<a href="gmail.com"><img src="../static/img/e.png" class="righta"></a>
		<a href="http://www.linkedin.com/pub/alex-brashear/80/3a1/b52"><img src="../static/img/i.png" class="righta"></a>
		<a href="https://www.facebook.com/alex.brashear.9"><img src="../static/img/f.png" class="righta"></a>
			<div class="jumbotron">
				<h1>Alex Brashear</h1>
				<p>
					I am a student majoring in Computer Science and minoring in Mechanical Engineering at the University of Pennsylvania.
				</p>
				<div class="nav-container">
					<ul class="list-inline">
						<li>
							<a href="#projects">Projects</a>
						</li>
						<li>|</li>
						<li>
							<a href="#resume">Resume</a>
						</li>
						<li>|</li>
						<li>
							<a href="#contact">Contact</a>
						</li>
						<li>
							<a></a>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>

	<!-- main body wrap -->
	<div class="container">
		<h1 class="ubuntu" id="projects">Projects</h1>
		<br><br>
		<h2>GoldMineJS</h2>
		<p>Created at 2013 Facebook New York Hackathon with Razzi Abuissa and Brian Sladek</p>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-5">
				<br>
				<img src="../static/img/goldmine.png" class="gmimg">
			</div>
			<div class="col-md-5">
				<br><br>
				<p class="p2">
					This open-source project used code coverage to determine excessive features in a javascript development library and remove them so that each time the webpage loads it will only have to load the parts of the library the developer actually needs.  Won judge favorite.
				</p>
				<p class="p2"><a href="http://razzius.github.io/goldmine">Website</a> | 
					<a href="http://github.com/razzius/goldmine">Source Code</a> | 
					<a href="https://npmjs.org/package/goldmine">npm docs</a></p>

				</div>
				<div class="col-md-1"></div>

			</div>
			<br><br>
			<hr class="style-two">
			<br>
			<!-- firstimpressions -->
			<div>
				<h2>FirstImpressions</h2>
				<p>Created with Dave Sharples and Samantha Merritt</p>
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-5">
						<br>
						<img src="../static/img/firstimpressions.png" class="fiimg">     <img src="../static/img/fi2.png" class="fiimg">

					</div>
					<div class="col-md-5"></div>
					<br>
					<p class="p2">
						Iphone app that lets an anonymous user send a message to anyone in the world and simultaneously receive a message from anyone in the world.  Users can then choose to respond to messages they receive and share their contact info.
					</p>
					<div class="col-md-1"></div>
				</div>
			</div>
			<br><br>
			<hr class="style-two">
			<br>
			<!-- bibliometrics -->
			<div>
				<h2>Bibliometrics Research</h2>
				<p>Summer 2013 research project under Professor Lyle Ungar</p>
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-5">
						<img src="../static/img/graph.png" class="bibimg">
					</div>
					<div class="col-md-5">
						<p class="p2">
							This past summer I worked on a research project under Professor Lyle Ungar involving the diffusion of key words across different genres of science literature.  I used citation maps (<a href="http://mapofscience.com">example here</a>) to try and prove the hypothesis that the citation distance of departments was longer if the department was more "unique."  (the method of calculating the percieved uniqueness or entropy of a department is outlined in some of the source code).  
						</p>
						<p class="p2"><a href="http://github.com/alexbrashear/bibliometrics_clean">Source Code</a> -- Some of it is a little messy, it was my first experience with python</p>
					</div>
					<div class="col-md-1"></div>
				</div>
			</div>
			<br><br>
			<hr class="style-two">
			<br>
			<!-- camera -->
			<div>
				<h2>Model 800 Polaroid Camera</h2>
				<p>SolidWorks project with Kris Li and Maanvi Singh</p>
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-5">
						<br>
						<iframe width="420" height="345" src="http://www.youtube.com/embed/nbsHn9TY4gE"></iframe>
					</div>
					<div class="col-md-5">
						<p class="p2">
							We chose to model this camera (which turned out to be the most difficult option) for a Mechanical Engineering course freshman year.  Unfortunately, because there were so many individual parts and files, we were not able to do a nicer rendering, but we did manage to model the motion of the slinky like part at the beginning. </p>
						</div>
						<div class="col-md-1"></div>
					</div>
				</div>
				<br><br><br>
				<p>
					<h1 class="ubuntu2"><a href="#top">top</a></h1>
				</p>
				<br><br><br>
			</div>

			<!-- resume section -->

			<div class="camera">
				<br><br><br>
				<h1 class="ubuntu" id="resume">Resume</h1>
				<br><br>
				<div class="container">
					<iframe class="scribd_iframe_embed" src="//www.scribd.com/embeds/200060742/content?start_page=1&view_mode=scroll&access_key=key-rw98ke230pwbs0p8l40&show_recommendations=false" data-auto-height="false" data-aspect-ratio="0.772922022279349" scrolling="no" id="doc_36682" width="100%" height="900" frameborder="0"></iframe>
				</div>
				<br><br><br>
				<br><br><br>
				<p>
					<h1 class="ubuntu2"><a href="#top">top</a></h1>
				</p>
				<br><br><br>
			</div>

			<!-- contact section -->

			<div class="contact">
				<br><br><br>
				<h1 class="ubuntu" id="contact">Contact Me</h1>
				<br><br>
				<div class="container">

					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-4">
							<p class="p2">
								Got feedback, ideas, neat stories?  Hit me up.
							</p>
						</div>
						<div class="col-md-4">
							<script language="javascript">var sa_email_id = '12230-4789f';var sa_sent_text = 'Thanks for reaching out to me!  I\'ll get back to you as soon as I can!';</script>
							<script language="javascript" src="http://s1.smartaddon.com/sa_htmlform.js"></script>
							<div id="sa_contactdiv">
								<form name=sa_htmlform style="margin:0px" onsubmit="return sa_contactform()">
									<table>
										<tr><td>Name:<br><input type="text" name="name" /></td></tr>
										<tr><td>E-mail Address:<br><input type="text" name="email" /></td></tr>
										<tr><td>Message:<br><textarea name="message" cols="42" rows="9"></textarea></td></tr>
										<tr><td><input type="submit" value="Send Message" style="font-weight:bold"></td></tr>
									</table>
								</form>


							</div>
						</div>
						<div class="col-md-2"></div>
					</div>
				</div>
				<br><br><br><br>
				<br><br><br>
				<p>
					<h1 class="ubuntu2"><a href="#top">top</a></h1>
				</p>
				<br><br><br>
			</div>

			<script type="text/javascript" src="../static/js/jquery.easing.1.3.js"></script>
			<script type="text/javascript">
				$(function() {
					$('a').bind('click',function(event){
						var $anchor = $(this);

						$('html, body').stop().animate({
							scrollTop: $($anchor.attr('href')).offset().top
						}, 1500,'easeInOutExpo');
                    /*
                    if you don't want to use the easing effects:
                    	$('html, body').stop().animate({
                    		scrollTop: $($anchor.attr('href')).offset().top
                    	}, 1000);
					*/
					event.preventDefault();
				});
				});
			</script>

		</body>
		</html>