<!DOCTYPE html>
<html>
<head>
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">	
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<title>
		Alex Brashear
	</title>
</head>
<body background="cach.jpg">
	
	<br><br>

	<div class="container">
		
		<div class="jumbotron header">
			<div>
				<h1>Alex Brashear</h1>
				<p id="title">
					I am a student majoring in Computer Science and minoring in Mechanical Engineering at the University of Pennsylvania.
				</p>
				<div class="row">
					<a href="#goldmine">GoldMine</a> | <a href="#bib">Bibliometrics</a> | <a href="#cam">Camera</a> | <a href="">Contact</a>
				</div>

			</div>
		</div>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<br>
		<br>
	</div>
	<div class="goldmine" id="goldmine">
		<div class="container">
			<h2>GoldMineJS<p></h2>
			<p>Created at 2013 Facebook New York Hackathon with Razzi Abuissa and Brian Sladek</p>
			<p><img class ="imggold" src="../static/img/goldmine.png" align="right">
				This open-source project used code coverage to determine excessive features in a javascript development library and remove them so that each time the webpage loads it will only have to load the parts of the library the developer actually needs.
			</p>
			<p><a href="http://razzius.github.io/goldmine">Website</a> | 
				<a href="http://github.com/razzius/goldmine">Source Code</a> | 
				<a href="https://npmjs.org/package/goldmine">npm docs</a></p>
			</div>
			<br>
		</div>
		<br><br><br><br><br>
		<div id="bib" class="bibliometrics">
			<div class="container">
				<h2 align="right">Bibliometrics Research</h2>
				<p><img class="imgbib bibborder" src="../static/img/graph.png" align="left">
					This past summer I worked on a research project under Professor Lyle Ungar involving the diffusion of key words across different genres of science literature.  I used citation maps (<a href="http://mapofscience.com">example here</a>) to try and prove the hypothesis that the citation distance of departments was longer if the department was more "unique."  (the method of calculating the percieved uniqueness or entropy of a department is outlined in some of the source code).  
				</p>
				<p><a href="http://github.com/alexbrashear/bibliometrics_clean">Source Code</a> -- Some of it is a little messy, it was my first experience with python</p>
			</div>
			<br><br>
		</div>
		<br><br><br><br><br>
		<div id="cam" class="youtube">
			<div class="container">
				<h2>Model 800 Polaroid Camera</h2>
				<p>
					SolidWorks project done with Maanvi Singh and Kris Li
				</p>
				<p>
				<iframe width="420" height="345" align="right" class="youtubeborder" 
				src="http://www.youtube.com/embed/nbsHn9TY4gE">
			</iframe>
			We chose to model this camera (which turned out to be the most difficult option) for a Mechanical Engineering course freshman year.  Unfortunately, because there were so many individual parts and files, we were not able to do a nicer rendering, but we did manage to model the motion of the slinky like part at the beginning.
			</p>
		</p>
	</div>
	<br><br>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br>
<div class="container icons">
	<h1 class="icons" align="center">Contact Me</h1>
	<i align="center" class="fa fa-linkedin-square fa-4x fa-fw"></i>
	<i class="fa fa-github-square fa-4x fa-fw" href="http://github.com/alexbrashear"></i>
	<i class="fa fa-facebook-square fa-4x fa-fw"></i>
	<i class="fa fa-envelope-o fa-4x fa-fw"></i>
	<i class="fa fa-file-text fa-4x fa-fw"></i>
	<br><br>
	<img src="../static/img/me.jpeg" align="center">
	<br><br><br><br><br><br><br>
</div>
<script type="text/javascript" src="../static/js/jquery.easing.1.3.js"></script>
<script type="text/javascript">
	$(function() {
		$('a').bind('click',function(event){
			var $anchor = $(this);

			$('html, body').stop().animate({
				scrollTop: $($anchor.attr('href')).offset().top
			}, 1500,'easeInOutExpo');
                    /*
                    if you don't want to use the easing effects:
                    	$('html, body').stop().animate({
                    		scrollTop: $($anchor.attr('href')).offset().top
                    	}, 1000);
		*/
		event.preventDefault();
	});
	});
</script>
</body>
</html>
